header {
  padding: 48px 128px 0px 128px;
  min-height: 105vh;
  display: table;
}

header h1 span {
  color: var(--secondary);
}

header .text-holder .section-cta {
  gap: 16px;
  margin-top: 16px;
}

.header-right {
  /* background-color: var(--tertiary); */
  /* background: url('/assets/images/sample.jpg'); */
  height: 60vh;
  /* padding-top: 120px; */
  /* overflow: hidden; */
  border-radius: 32px;
  gap: 16px;
  width: fit-content !important;
}

.header-right img {
  width: 180px;
  height: 340px;
  /* position: absolute; */
  object-fit: cover;
  left: 0;
  top: 0;
  border-radius: 24px;
}

.header-right img#twoo{
  top: 64px;
}

#two {
  position: absolute;
  left: 0;
  bottom: -4px;
  top: unset;
}
