@import url("nav.css");
@import url("header.css");
@import url("text.css");
@import url("general.css");
@import url("body.css");
@import url("footer.css");
@import url("modal.css");
:root {
  --neutral: #fefefe;
  --primary: #f15a25;
  --secondary: #084e8c;
  --tertiary: #1d1d1d;
  --accent: #f4f4f4;
  --ink: #3f3f3f;
  --placeholders: #909090;
  --error: #d90606;
  --success: #05a100;
}

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  font-size: 15px;
  width: 100%;
  background: var(--neutral);
  scroll-behavior: smooth;
  color: var(--ink);
  min-height: 100vh;
  font-family: "Hind Siliguri", sans-serif;
  scrollbar-width: 5px;
  font-size: 14px;
}

body {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--neutral);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-circles);
}
